pkgbase = deepin-wine-qq
	pkgdesc = Tencent QQ (com.qq.im) on Deepin Wine For Archlinux
	pkgver = 9.1.0.24712
	pkgrel = 5
	url = http://im.qq.com/
	install = deepin-wine-qq.install
	arch = x86_64
	license = custom
	depends = p7zip
	depends = wine
	depends = wine-mono
	depends = wine_gecko
	depends = xorg-xwininfo
	depends = wqy-microhei
	depends = adobe-source-han-sans-cn-fonts
	depends = adobe-source-han-serif-cn-fonts
	depends = lib32-alsa-lib
	depends = lib32-alsa-plugins
	depends = lib32-libpulse
	depends = lib32-openal
	depends = lib32-mpg123
	depends = lib32-gnutls
	conflicts = deepin-qq-im
	conflicts = deepin.com.qq.im
	source = https://mirrors.ustc.edu.cn/deepin/pool/non-free/d/deepin.com.qq.im/deepin.com.qq.im_8.9.19983deepin23_i386.deb
	source = https://dldir1.qq.com/qqfile/qq/QQ9.1.0/24712/QQ9.1.0.24712.exe
	source = run.sh
	source = reg_files.tar.bz2
	source = update.policy
	md5sums = 5135313eb131feeb6fef613ba02804cf
	md5sums = e9f796f0b854381fbad5ab6fc31d8f4b
	md5sums = 2622a458c78108f79007bbf4d5e85a52
	md5sums = 02a7bfa7e06adbaa51cc14102f3f6204
	md5sums = a66646b473a3fbad243ac1afd64da07a

pkgname = deepin-wine-qq

